data/ibmcp/
data/PUA*
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info/
*.egg
*.coverage
dist/
build/
*.whl
*.tar.gz
*.zip
*.bak
*.swp
*.tmp
*.pid
freeze.txt
setup.sh
.ipynb_checkpoints/
*.idea/
*.vscode/